<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="connStr" value="Data Source=homeviewdb.cotk9avwlowj.us-west-1.rds.amazonaws.com,1433;Initial Catalog=homeviewdb;User ID=awshomeviewadmin;Password=TeamUnite562!"/>
	</appSettings>
	<configSections>
		<section name="emailService"
				 type="System.Configuration.SingleTagSectionHandler" />
	</configSections>
	<emailService email="homeviewcsulb@gmail.com"
				  key="homeviewRocks"
				  port="587"
				  server="smtp.gmail.com" />
		
</configuration>