@model HomeView.Models.UserHomeModel

@{
    Layout = null;
}
<style>
    ul {
        list-style-type: none;
        display: inline;
    }
</style>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Homeview | Home</title>
</head>
<body>
    <nav>
        <ul>
            <div class="items">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">TV Shows</a></li>
            <li><a href="#">Movies</a></li>
            <li><a href="#">News</a></li>
            <li><a href="#">ActWiki</a></li>
            </div>
            <li class="search">
                <input type="text" placeholder="Search" />
            </li>
            <li class="account">
                <select name="Account">
                    <option><a href="#">Log out</a></option>
                </select>
            </li>
        </ul>
    </nav>
</body>
</html>
