
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Homeview | Home</title>
</head>
<body>
    <ul>
        <li>Home</li>
        <li>TV Shows</li>
        <li>Movies</li>
        <li>News</li>
        <li>ActWiki</li>
        <input type="text" placeholder="Search" />
        <li>Account</li>
    </ul>
</body>
</html>
