@model HomeView.Models.UserHomeModel

@{
    
}
<style>
    li {
        display: inline;
        text-decoration: none;
        color: white;
        float: left;
    }
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }
    li a, .dropbtn {
        display: inline-block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
    li a:hover, .dropdown:hover {
        background-color: white;
    }
    .dropbtn:hover {
        color: black;
    }
    li.dropdown {
        display: inline-block;
    }
    .dropdown-content {
        display: none;
        position: absolute;
        min-width: 160px;
        z-index: 1;
    }
    .dropdown-content a {
        color: white;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
    }
    .dropdown:hover .dropdown-content {
        display: block;
    }
    .dropbtn {

    }
</style>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Homeview | Home</title>
</head>
<body>
    <nav>
        <ul>
            <div class="items">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">TV Shows</a></li>
            <li><a href="#">Movies</a></li>
            <li><a href="#">News</a></li>
            <li><a href="#">ActWiki</a></li>
            </div>
            <li class="search">
                <input type="text" placeholder="Search" />
            </li>
            <li class="account">
                <a class="dropbtn">Account</a>
                <div class="dropdown-content">
                    <a href="#">Account</a>
                    <a href="#">Log Out</a>
                </div>
            </li>
        </ul>
    </nav>
</body>
</html>
