@model HomeView.Models.UserHomeModel

@{
    
}
<style>
    li {
        display: inline;
    }
    ul {
        list-style-type: none;
    }
</style>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Homeview | Home</title>
</head>
<body>
    <nav>
        <ul>
            <div class="items">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">TV Shows</a></li>
            <li><a href="#">Movies</a></li>
            <li><a href="#">News</a></li>
            <li><a href="#">ActWiki</a></li>
            </div>
            <li class="search">
                <input type="text" placeholder="Search" />
            </li>
            <li class="account">
                <a href="javascript:void(0)" class="drp[btn">Account</a>
                <div class="dropdown-content">
                    <a href="#">Account</a>
                    <a href="#">Log Out</a>
                </div>
            </li>
        </ul>
    </nav>
</body>
</html>
