@model HomeView.Models.UADModel;


<style>
    h2 {
        text-align: center;
        padding-top: 1em;
        padding-bottom: 1em;
        font-size: 30px;
    }

    h1 {
        text-align: left;
        padding-top: 1em;
        padding-bottom: 1em;
        font-size: 40px;
    }
</style>

<div class="text-center">
    <h1 class="display-4">HomeView</h1>
</div>

<div class="container">
    <h2>Usage Analysis Dashboard</h2>
    
</div>


<div>
    @Html.ActionLink("Back to Home Page", "Index")
</div>
