@model HomeView.Models.UADModel;


<style>
    h2 {
        text-align: center;
        padding-top: 1em;
        padding-bottom: 1em;
        font-size: 30px;
    }

    h1 {
        text-align: center;
        padding-top: 1em;
        padding-bottom: 1em;
        font-size: 40px;
    }

    h3 {
        text-align: left;
        padding-top: 1em;
        padding-bottom: 1em;
        font-size: 16px;
    }




</style>

<div class="text-center">
    <h1 class="display-4">HomeView</h1>
</div>

<div class="container">
    <h2>Usage Analysis Dashboard</h2>

    <div class="chart-wrap">
        <h3 class="title">Top 5 Most Visited View of All Time Bar</h3>
        <p> No data observed yet.</p>

        <h3 class="title">Top 5 Most Visited View of All Time Bar</h3>
        <p> No data observed yet.</p>
        <h3 class="title">Top 5 Average Duration Per View of All Time</h3>
        <p> No data observed yet.</p>
        <h3 class="title">The number of logins per day within the span of 3 months</h3>
        <p> No data observed yet.</p>
        <h3 class="title">The number of registrations per day within the span of 3 month</h3>
        <p> No data observed yet.</p>
        <h3 class="title">The number of logins per day within the span of 3 months</h3>
        <p> No data observed yet.</p>
        <h3 class="title">Most Clicked Show</h3>
        <p> No data observed yet.</p><h3 class="title">The number of logins per day within the span of 3 months</h3>
        <p> No data observed yet.</p>
        <h3 class="title">Most Clicked Movie</h3>
        <p> No data observed yet.</p>

    </div>


    <div>
        @Html.ActionLink("Back to Home Page", "Index")
    </div>
