@model HomeView.Models.HomeModel

@{
    ViewData["Title"] = "LogIn";
}


<style>
    p {
        padding-top: 2em;
        padding-bottom: 2em;
    }
</style>
<form asp-action="LogIn" >
    <div class="text-center">

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-group">
            <input asp-for="_userEmail" class="form-control" align="center" placeholder="Email" />
            <span asp-validation-for="_userEmail" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input asp-for="_userPass" type="password" class="form-control" align="center" placeholder="Password" />
            <span asp-validation-for="_userPass" class="text-danger"></span>
        </div>

    </div>

      <div class="form-group">
        <input type="button" value="Sign Up" onclick="location.href='@Url.Action("Index", "Registration")'" />
      </div>
      <div class="form-group">
        <input type="submit" value="Login" class="btn btn-primary" onclick="location.href='@Url.Action("Login", "Home", Model)'" />
      </div>

</form>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}