@{
    ViewData["Title"] = "EmailSent";
}

<div class="alert-success">  
   <strong>Message: </strong> Email sent, please check your email: @Model.
</div> 

<div>
    <a asp-controller="Home" asp-action="Index">Back to Home</a>
</div>