@model HomeView.Models.RegistrationModel

@{
    ViewData["Title"] = "SignUp";
}

<style>

    .column-gap {
        float: left;
        width: 10%;
        padding: 3px;
    }

    h4 {
        text-align: left;
        padding-top: 1em;
        padding-bottom: 1em;
        font-size: 20px;
    }

</style>


<h4>Registration</h4>
    <form asp-action="SignUp">
        <div class="row">
            <div class="column">

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="_firstName" class="control-label">First Name:</label>
                    <input asp-for="_firstName" class="form-control" />
                    <span asp-validation-for="_firstName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="_lastName" class="control-label">Last Name:</label>
                    <input asp-for="_lastName" class="form-control" />
                    <span asp-validation-for="_lastName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="_userEmail" class="control-label">Email:</label>
                    <input asp-for="_userEmail" class="form-control" />
                    <span asp-validation-for="_userEmail" class="text-danger"></span>
                </div>
            </div>
            <div class="column-gap">
            </div>
            <div class="column">

                <div class="form-group">
                    <label asp-for="_userPass" class="control-label">Password:</label>
                    <input asp-for="_userPass" type= "password" class="form-control" />
                    <span asp-validation-for="_userPass" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="_userDob" class="control-label">Date of Birth:</label>
                    <input asp-for="_userDob" class="form-control" />
                    <!--<span asp-validation-for="_userDob" class="text-danger"></span>-->
                </div>
                <div class="form-group">
                    <label asp-for="_dispName" class="control-label">Username:</label>
                    <input asp-for="_dispName" class="form-control" />
                    <span asp-validation-for="_dispName" class="text-danger"></span>
                </div>
                    
            </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-primary" onclick="location.href='@Url.Action("SignUp", "Registration", Model)'" />
            </div>
    </form>


<div>
    <a asp-controller="Home" asp-action="Index">Back to Home</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
