<style>
    h2 {
        text-align: left;
        padding-top: 1em;
        padding-bottom: 1em;
        font-size: 18px;
    }
    h1 {
        text-align: left;
        padding-top: 1em;
        padding-bottom: 1em;
        font-size: 18px;
    }
    
</style>

<div class="text-center">
    <!--<h1 class="display-4">HomeView</h1>-->
   
</div>
<div class="container">
    <h2>Sign Up</h2>
    <form>
        <div class="form-group row">
            <div class="col-xs-4">
                <label for="usr">Name:</label>
                <input type="text" class="form-control" id="usr">

            </div>

        </div>
        <div class="form-group row">
            <div class="col-xs-4">
                <label for="pwd">Password:</label>
                <input type="password" class="form-control" id="pwd">
            </div>
        </div>

        <div class="form-group row">
            <div class="col-xs-4">
                <label for="pwd">Confirm Password:</label>
                <input type="password" class="form-control" id="pwd">
            </div>
        </div>
        <div class="checkbox">
            <label><input type="checkbox" value="">  Subscribe to HomeView newsletters</label>
        </div>
        <button type="button" class="btn-default ">Submit</button>

    </form>
</div>
