.app {
    background-image: url(../css/images/homeview.png);
    display: flex;
    flex-direction: column;
    background-size: cover;
    min-height: 100vh;
    background-attachment:fixed;
}
.logo {
    color: white;
    font-family:'Century Gothic';
    font-size: 50px;
    text-align: center;
}

.card-center {
    position: absolute;
    left: 50%;
    width: 400px;
    margin-left: -200px; /* width * -0.5 */

    top: 40%;
    height: 200px;
    margin-top: -100px; /* height * -0.5 */

}

.card-long {
    position: absolute;
    left: 50%;
    width: 800px;
    margin-left: -400px; /* width * -0.5 */

    top: 40%;
    height: 400px;
    margin-top: -200px; /* height * -0.5 */
}

.extraInfo {
    color:white;
}

.color-style {
    color: black;
}

.title-container {
    float: left;
    width: 200px;
    height: 300px;
    object-fit: cover;
}

.title-details {
    display: inline-block;
    vertical-align: text-top;
    margin: 0 auto;
}

.button-delete {
    background-color: red;
    color: white;
    padding:2px;
}

.button-review {
    color:white;
    padding:2px;
}

.review-title {
    font-size:12px;
    padding:4px;
}

.select-service {
    color: white;
    font-family:'Century Gothic';
    font-size: 20px;
    text-align: left;
}

.movies-page{
    color: white;
    font-family:'Century Gothic';
    font-size: 50px;
    text-align: center;
}

.series-page{
    color: white;
    font-family:'Century Gothic';
    font-size: 50px;
    text-align: center;
}