.news-container {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.news-container h1 {
    text-align: center;
    color: lightgray;
}

.article-cluster {
    margin: 0px 50px 80px 50px;
}

.article-container {
    background: lightgray;
    padding: 0px 50px 80px 50px;
    margin: 20px 0 10px 0;
}

.article-container h1 {
    color: darkslategray;
}